%body
  #container.top
    %nav
      %tr
        %td
          = link_to 'Sign up', new_user_path
        %td
          = link_to 'Come aboard', login_path
.container_12
  .center_column.grid_6.push_3